.input-card{
    width: 60%;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
   
}
  
  input[type="text"] {
    padding: 8px;
   width: 100%;
    border: transparent;
    border-radius: 4px none;
    outline: none; /* Remove default input focus outline */
  }
  
  .search-button {
    padding: 8px 12px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  
 